* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.app {
  min-height: 100vh;
  /* background-color: rgb(231, 229, 229); */
  background-color: #9cc3d5ff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upload-file {
  /* width: 60vw; */
  height: 3rem;
  background-color: #fff3;
  border-radius: 4rem;
  padding: 0 1.4rem;
}

.tooltip {
  position: relative;
}

.tooltip img {
  width: 1.8rem;
  cursor: pointer;
}

.tooltip::before,
.tooltip::after {
  color: #111;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -15px);
  font-size: 0.9rem;

  opacity: 0;
  transition: 0.4s ease-in-out;
}

.tooltip::before {
  content: "";
  top: -2px;

  width: 0;
  height: 0;
  border: 0.6rem solid transparent;
  border-top-color: #eee;
}

.tooltip::after {
  content: attr(title);
  top: -44px;

  background: #eee;
  white-space: pre;

  padding: 0.8rem 1rem;
  border-radius: 0.4rem;
}

.tooltip:hover::before,
.tooltip:hover::after {
  opacity: 1;
  transform: translate(-50%, -8px);
}

.upload-file input#img-url {
  width: 86%;
  height: 100%;
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  border: none;
  outline: none;
}

.result {
  margin-top: 2rem;
  width: 90vw;
  height: 22rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
}

.result #img-result,
.result textarea {
  height: 100%;
  border-radius: 1rem;
  width: 50%;
}

.result #img-result {
  max-width: 30%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.result div {
  position: relative;
  width: 40%;
  height: 100%;
}

.result div p {
  position: absolute;
  top: 1rem;
  right: 1rem;
  opacity: 0;
}

.result div:hover p {
  opacity: 1;
}

.result textarea {
  width: 100%;
  padding: 1.5rem;
  background-color: transparent;

  color: #fff;
  font: 500 1.2rem sans-serif;
  border: none;

  resize: none;
  outline: none;

  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.result textarea:focus {
  border: 1px solid #fff;
}

.result .arrow {
  width: 3rem;
  height: 3rem;
  margin: 0 1rem;
}

.arrow {
  cursor: pointer;
}

.row_two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 0;
  gap: 15px;
  text-align: center;
}

select {
  padding: 5px 5px;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 3px;
}

#translate-btn {
  width: 100px;
  margin: auto;
  padding: 5px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.speakBtn {
  border: none;
  font-size: 45px;
  background: transparent;
}

.transtleted_div {
  background-color: #9cc3d5ff;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#translated_text{
    color: white;
}

